.footer{
    background-color: #002147;
    color:rgba(255,255,255,0.7);
    position: fixed;
    font-size:15px;
    bottom:0;
    right:0;
width:100%;
 margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   height:70px;
     padding-top: 9px;
}
@media (max-width: 768px) {
    .footer{
        font-size: 10px;
    }
}