.main{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:20px;
    flex-wrap: wrap;
    
}
.mission{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    gap:5px;

    align-items: center;
    text-align: center;
    padding:10px;
    background-color: #FCFFF7;
    border-radius: 20px;
    box-shadow:
      0 8px 15px rgba(0, 0, 0, 0.2),
      inset 0 1px 1px rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.carousel,.mission{
    width:47%;
    height:450px;

    
    
    
}
#carouselExampleControlsNoTouching{
    width: 100%;
    height:450px;

}
.carousel img {
    
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border-radius: 6px;
  }
  @media (max-width: 1210px) {

     

  }
  @media (max-width: 710px) {
    .carousel {
      width: 100%;
      height:280px;
    }
    .carousel img{
        height:280px;
    }
    #carouselExampleControlsNoTouching{
       
        height:280px;
    
    }
    .mission{
        height:460px;
        font-size:10px;
        width: 95%;
    }
    .main{
        flex-direction: column;
        
    }
  }